
NODE_ENV=development

PORT=5000

#postgresql connection string
DATABASE_URL="postgresql://postgres:12345678@localhost:5432/zentro?schema=public"

#better auth secret
BETTER_AUTH_SECRET=your_secret_here
# Base URL of your app
BETTER_AUTH_URL=http://localhost:5000 
BETTER_AUTH_SESSION_TOKEN_EXPIRES_IN=1d
BETTER_AUTH_SESSION_TOKEN_UPDATE_AGE=1d

#front end url
FRONTEND_URL=http://localhost:3000
BACKEND_URL=http://localhost:5000

# platform super admin credentials
PLATFORM_SUPER_ADMIN_NAME=platform super admin name
PLATFORM_SUPER_ADMIN_EMAIL=platform super admin email
PLATFORM_SUPER_ADMIN_PASSWORD=platform super admin password

#jwt 
JWT_TOKEN_SECRET=your_secret_here
JWT_ACCESS_TOKEN_EXPIRATION_TIME=1d
JWT_REFRESH_TOKEN_EXPIRATION_TIME=7d

#nodemailer credentials
SMTP_HOST=smtp.gmail.com
SMTP_PORT=587
SMTP_USER=smtp email
SMTP_PASSWORD=smtp password
SMTP_FROM=smtp email

#cloudinary credentials
CLOUDINARY_CLOUD_NAME=cloudinary_cloud_name
CLOUDINARY_API_KEY=cloudinary_api_key
CLOUDINARY_API_SECRET=cloudinary_api_secret

#stripe credentials
STRIPE_SECRET_KEY=stripe_secret_key
STRIPE_WEBHOOK_SECRET=stripe_webhook_secret

#sslcommerz credentials
# SSLCommerz
SSLCOMMERZ_STORE_ID=sslcommerz_store_id
SSLCOMMERZ_STORE_PASSWORD=sslcommerz_store_password
SSLCOMMERZ_IS_LIVE=false